### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

student_data.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [10]:
# Total number of schools
total_schools = len(school_data)

15

In [11]:
# Total number of students
total_students = len(student_data)

39170

In [12]:
# Total budget
total_budget = school_data['budget'].sum()

24649428

In [13]:
# Average math score
avg_math_score = student_data['math_score'].mean()

78.98537145774827

In [14]:
# Average reading score
avg_reading_score = student_data['reading_score'].mean()

81.87784018381414

In [20]:
# Percentage of students with a passing math score
total_passing_math = len(student_data.loc[student_data['math_score'] >= 70])
percentage_passing_math = total_passing_math/total_students * 100

74.9808526933878

In [21]:
# Percentage of students with a passing reading score
total_passing_reading = len(student_data.loc[student_data['reading_score'] >= 70])
percentage_passing_reading = total_passing_reading/total_students * 100

85.80546336482001

In [24]:
# Percentage of students with a passing math score and a passing reading score
total_passing_both = len(student_data.loc[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)])
percentage_passing_both = total_passing_both/total_students * 100

65.17232575950983

In [26]:
# Create a dataframe to hold all of the above calculations
district_summary = pd.DataFrame({'Total Schools':[total_schools],
                                'Total Students':total_students,
                                'Total Budget':total_budget,
                                'Average Math Score':avg_math_score,
                                'Average Reading Score':avg_reading_score,
                                'Percent Passing Math':percentage_passing_math,
                                'Percent Passing Reading':percentage_passing_reading,
                                'Percent Passing Math and Reading':percentage_passing_both})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [33]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [35]:
# Store the school names
school_names = school_data['school_name'].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [ ]:
# Store the school types (as dictionary? - school name is the key, type is the value)

In [ ]:
# Store the number of students at each school (as dictionary? - school name is the key, type is the value)

In [ ]:
# Store total school budgets (as dictionary? - school name is the key, type is the value)

In [ ]:
# Stoce per student school budgets (as dictionary? - school name is the key, type is the value)

In [ ]:
# Average math score

In [ ]:
# Average reading score

In [ ]:
# Percent passing math

In [ ]:
# Percent passing reading

In [ ]:
# Percent passing overall

In [ ]:
# Summary table

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type