### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

student_data.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Total number of schools
total_schools = len(school_data)

In [3]:
# Total number of students
total_students = len(student_data)

In [4]:
# Total budget
total_budget = school_data['budget'].sum()

In [5]:
# Average math score
avg_math_score = student_data['math_score'].mean()

In [6]:
# Average reading score
avg_reading_score = student_data['reading_score'].mean()

In [7]:
# Percentage of students with a passing math score
total_passing_math = len(student_data.loc[student_data['math_score'] >= 70])
percentage_passing_math = total_passing_math/total_students * 100

In [8]:
# Percentage of students with a passing reading score
total_passing_reading = len(student_data.loc[student_data['reading_score'] >= 70])
percentage_passing_reading = total_passing_reading/total_students * 100

In [9]:
# Percentage of students with a passing math score and a passing reading score
total_passing_both = len(student_data.loc[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)])
percentage_passing_both = total_passing_both/total_students * 100

In [10]:
# Create a dataframe to hold all of the above calculations
district_summary = pd.DataFrame({'Total Schools':[total_schools],
                                'Total Students':total_students,
                                'Total Budget':total_budget,
                                'Average Math Score':avg_math_score,
                                'Average Reading Score':avg_reading_score,
                                'Percent Passing Math':percentage_passing_math,
                                'Percent Passing Reading':percentage_passing_reading,
                                'Percent Passing Math and Reading':percentage_passing_both})
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [24]:
# merge data frames
merged_data = pd.merge(school_data, student_data, on='school_name')

grouped_data = merged_data.groupby(merged_data['school_name'])

,School ID,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [27]:
# Store the school names
school_names = grouped_data['school_name'].unique()

school_name
Bailey High School          [Bailey High School]
Cabrera High School        [Cabrera High School]
Figueroa High School      [Figueroa High School]
Ford High School              [Ford High School]
Griffin High School        [Griffin High School]
Hernandez High School    [Hernandez High School]
Holden High School          [Holden High School]
Huang High School            [Huang High School]
Johnson High School        [Johnson High School]
Pena High School              [Pena High School]
Rodriguez High School    [Rodriguez High School]
Shelton High School        [Shelton High School]
Thomas High School          [Thomas High School]
Wilson High School          [Wilson High School]
Wright High School          [Wright High School]
Name: school_name, dtype: object

In [28]:
# Store the school types (as dictionary? - school name is the key, type is the value)
school_types = grouped_data['type'].unique()
school_types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [29]:
# Store the number of students at each school (as dictionary? - school name is the key, type is the value)
student_populations = grouped_data['size'].unique()
student_populations

school_name
Bailey High School       [4976]
Cabrera High School      [1858]
Figueroa High School     [2949]
Ford High School         [2739]
Griffin High School      [1468]
Hernandez High School    [4635]
Holden High School        [427]
Huang High School        [2917]
Johnson High School      [4761]
Pena High School          [962]
Rodriguez High School    [3999]
Shelton High School      [1761]
Thomas High School       [1635]
Wilson High School       [2283]
Wright High School       [1800]
Name: size, dtype: object

In [ ]:
# Store total school budgets

In [ ]:
# Stoce per student school budgets

In [ ]:
# Average math score - use groupby to group the math scores, then divide by the length of the group

In [ ]:
# Average reading score - use groupby

In [ ]:
# Percent passing math

In [ ]:
# Percent passing reading

In [ ]:
# Percent passing overall

In [36]:
# Summary table
school_summary_table = pd.DataFrame({'School Type': school_types,
                                    'Total Students': student_populations})
school_summary_table.head()

                     School Type Total Students
school_name
Bailey High School    [District]         [4976]
Cabrera High School    [Charter]         [1858]
Figueroa High School  [District]         [2949]
Ford High School      [District]         [2739]
Griffin High School    [Charter]         [1468]

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type